<div class="nav flex-row" style="background-color: darkgreen">
    <ul class="nav flex-row">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reports/PublicHolidays" Match=NavLinkMatch.All>
                <span class="oi  oi-list-rich" aria-hidden="true"></span> Public Holidays
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-row">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reports/WhosOnVacation" Match=NavLinkMatch.Prefix>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Who's on Vacation
            </NavLink>
        </li>
    </ul>
</div>